mat-card {
  /*卡片宽度*/
  width: 188px;
}
#canvas{
  /*绘板面板和颜色面板间距*/
  margin-bottom: 10px;
}
mat-card-header{
  /*标题居中*/
  display: flex;
  justify-content: center;
}
mat-divider{
  /*分割线上下距离*/
  margin: 5px 0 15px;
}
mat-card-content{
  /*内容居中*/
  display: flex;
  justify-content: center;
}
#size{
  /*绘板面板按钮横向*/
  flex-direction: row;
}
button{
  /*绘板面板按钮间距*/
  margin: 0 5px 0 ;
}
a{
  /*消除a标签装饰*/
  text-decoration: none;
}
