mat-card-header {
  /*水平居中*/
  display: flex;
  justify-content: center;
}

mat-divider{
  /*分割线上下距离*/
  margin: 10px 0 15px;
}

form {
  /*竖向、垂直居中、水平居中*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
