<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title
        class="mat-headline-5">
        <span>账户信息</span>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <form #login="ngForm">
        <mat-form-field hideRequiredMarker>
          <mat-label>姓名</mat-label>
          <input
            [(ngModel)]="userName"
            [ngModelOptions]="{standalone: true}"
            matNativeControl
            required
            type="text"
            maxlength="10"
            disabled>
        </mat-form-field>

        <mat-form-field hideRequiredMarker>
          <mat-label>昵称</mat-label>
          <input
            [(ngModel)]="userNickname"
            [ngModelOptions]="{standalone: true}"
            matNativeControl
            required
            type="text"
            maxlength="10">
        </mat-form-field>

        <mat-form-field hideRequiredMarker>
          <mat-label>密码</mat-label>
          <input
            [(ngModel)]="userPassword"
            [ngModelOptions]="{standalone: true}"
            matNativeControl
            required
            type="password">
        </mat-form-field>
        <div id="button">
          <a
            mat-raised-button
            color="primary"
            routerLink="/canvas">
            <mat-icon>arrow_back</mat-icon>
            返回
          </a>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            routerLink="/canvas">
            <mat-icon>done_outline</mat-icon>
            更改
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
