<!-- <mat-spinner></mat-spinner> -->
<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        什么是「冬日绘板」？
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>简略介绍「冬日绘板」类活动的历史。</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        我们的活动
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        说明活动目的、时间（72h）、人员（四高本部学生）、流程、收集哪些信息（用户昵称，用户在何时在何处涂何色）及其用途（总结展示）等关键（如推荐用电脑访问）信息。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        活动组织者
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        介绍活动组织者（允许引流，如个人网络账户首页、个人博客首页等）。
      </p>
    </mat-card-content>
  </mat-card>

  <a mat-raised-button
     color="primary"
     routerLink="/login">四高本部学生登录入口</a>
</div>
